.film-item {
  list-style-type: none;
}

.film-container {
  margin: 0 auto;
  padding: 0;
  padding-bottom: 36px;
  display: flex;
  row-gap: 36px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 1210px;
  background-color: white;
}
